
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --secondary-text-color: #ffffff;
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --background-color-2: #f5f4fa;
  --contacts-text-color: rgba(255, 255, 255, 0.6);
  --header-logo-color: #000000;
   --title-portfolio: #F5F5F5}
/*PORTFOLIO BUTTONS*/

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.page{
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}
/* header */

.navigation-logo-link {
font-family: "Raleway";
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
color: var(--accent-color);
}
.navigation-logo-header {
color: var(--header-logo-color);
font-family: "Raleway";
font-size: 26px;
letter-spacing: 0.03em;
}
.navigation-studio:focus,
.navigation-studio:hover{
  color: var(--accent-color);
}

.navigation-studio{
  
font-family: "Roboto";
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.navigation-portfolio{
font-family: 'Roboto';

font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--accent-color)
}
.navigation-portfolio:focus,
.navigation-portfolio:hover{
  color: var(--accent-color);
}
.navigation-contacts{
font-family: 'Roboto';
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--title-text-color);
}
.navigation-contacts:hover,
.navigation-contacts:focus
{color: var(--accent-color);}
.mailto{
 font-family: "Roboto", sans-serif;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

}
.mailto:hover,
.mailto:focus
{color: var(--accent-color);}
.tel{
     font-family: "Roboto", sans-serif;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;}
.tel:hover,
.tel:focus
{color: var(--accent-color);}
/*HERO SECTION*/
.portfolio {

  background-color: var(--secondary-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  
  letter-spacing: 0.03em;
  cursor: pointer;
}
.button-secondary {
  color: var(--title-text-color);
  background-color: var(--title-portfolio);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.button-secondary:hover,
.button-secondary:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color)
}
.portfolio-sample{
  font-family: 'Roboto';

font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;

color:var(--title-text-color);
}

.portfolio-info{
  font-family: 'Roboto';
font-size: 16px;
line-height: 1.9;


letter-spacing: 0.03em;

color:var(--primary-text-color)}
/* FOOTER */
.footer-container{
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contacts-text-color);
  background-color: var(--background-color);
}
.footer-logo{
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
color: var(--secondary-text-color);


}
.footer-web{
 color: var(--accent-color);
font-family: "Raleway";
letter-spacing: 0.03em;

}
.contact-address{
font-family: 'Roboto';
line-height: 2;
letter-spacing: 0.03em;
color: var(--secondary-text-color);

}
.foter-mailto{
  font-family: 'Roboto';
line-height: 1.7;
letter-spacing: 0.03em;
color: var(--secondary-text-color);;

}
.foter-mailto:hover,
.foter-mailto:focus {
  color: var(--accent-color)}
.foter-tel{
font-family: 'Roboto';
line-height: 1.7;
letter-spacing: 0.03em;
color:var(--secondary-text-color);
}
.foter-tel:hover,
.foter-tel:focus {
  color: var(--accent-color)}
.footer-container {
  background-color: var(--background-color);
}

.contact-address {
  font-family: "Roboto", sans-serif;
  color: var(--secondary-text-color);
 
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.contact-address:hover,
.contact-address:focus {
  color: var(--accent-color)}


.footer-contacts {
  font-family: "Roboto", sans-serif;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}


.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.footer-web {
  color: var(--accent-color);
}

