

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --secondary-text-color: #ffffff;
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --background-color-2: #f5f4fa;
  --contacts-text-color: rgba(255, 255, 255, 0.6);
  --header-logo-color: #000000;
   --title-portfolio: #F5F5F5}

.page{
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
/* header */

.navigation-logo-link {
font-family: "Raleway";
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
color: var(--accent-color);
}
.navigation-logo-header {
color: var(--header-logo-color);
font-family: "Raleway";
font-size: 26px;
letter-spacing: 0.03em;
}

.navigation-studio{

font-family: "Roboto";
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.navigation-portfolio{
 
font-family: 'Roboto';
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--title-text-color)
}
.navigation-portfolio:hover,
.navigation-portfolio:focus {
  color: var(--accent-color)}
.navigation-contacts{
    
font-family: 'Roboto';
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--title-text-color);
}
.navigation-contacts:hover,
.navigation-contacts:focus {
  color: var(--accent-color)}
.mailto{
 font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

}
.mailto:hover,
.mailto:focus {
  color: var(--accent-color)}
.tel{
     font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;}
  .tel:hover,
.tel:focus {
  color: var(--accent-color)}
/*HERO SECTION*/
.hero-container {
  background-color: var(--background-color);
  max-width: 1600px;
  text-align: center;
}
.hero-title {
  color: var(--secondary-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  color: var(--header-logo-color);
}
.section-item {
  font-family: "Roboto", sans-serif;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section-text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
 /* <!--OUR WORKS--> */
.section-work-title{
  color: var(--title-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
/* <!--OUR TEAM--> */
.section-team {
  background-color: var(--background-color-2);
}
.section-team-img{
  background-color: var(--secondary-text-color);

}
.section-title{
  color: var(--title-text-color);
font-family: 'Roboto';
font-weight: 700;
font-size: 36px;
line-height: 1.14;
text-align: center;
letter-spacing: 0.03em}

.team-members {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
}

.team-post {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}
/* FOOTER */
.footer-container{
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contacts-text-color);
  background-color: var(--background-color);
}
.footer-logo{
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
color: var(--secondary-text-color);


}
.footer-web{
 color: var(--accent-color);
font-family: "Raleway";
letter-spacing: 0.03em;

}
.contact-address{
font-family: 'Roboto';
font-style: normal;
line-height: 2;
letter-spacing: 0.03em;
color: var(--secondary-text-color);

}
.foter-mailto{
  font-family: 'Roboto';
line-height: 1.7;
letter-spacing: 0.03em;
color: var(--primary-text-color);

}
.foter-mailto:hover,
.foter-mailto:focus {
  color: var(--accent-color)}
.foter-tel{
line-height: 1.7;
letter-spacing: 0.03em;
color:var(--primary-text-color)

}
.foter-tel:hover,
.foter-tel:focus {
  color: var(--accent-color)}
.footer-container {
  background-color: var(--background-color);
}

.contact-address {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.contact-address:hover,
.contact-address:focus {
  color: var(--accent-color)}

.footer-contacts {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contacts-text-color);
}


.footer-logo {
  font-family: "Raleway", sans-serif;
 
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.footer-web {
  color: var(--accent-color);
}

/* Portfolio */
/*HERO SECTION*/
.portfolio {

  background-color: var(--secondary-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  
  letter-spacing: 0.03em;
  cursor: pointer;
}
.button-secondary {
  color: var(--title-text-color);
  background-color: var(--title-portfolio);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.button-secondary:hover,
.button-secondary:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color)
}
.portfolio-sample{
  font-family: 'Roboto';

font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;

color:var(--title-text-color);
}

.portfolio-info{
  font-family: 'Roboto';
font-size: 16px;
line-height: 1.9;


letter-spacing: 0.03em;

color:var(--primary-text-color)}

.navigation-studio-portfolio{
  font-family: 'Roboto';
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--title-text-color)
}

.navigation-studio-portfolio:hover,
.navigation-studio-portfolio:focus {
  color: var(--accent-color)}
.footer-container {
  background-color: var(--background-color);
}
.navigation-portfolio-port{
  font-family: 'Roboto';
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--accent-color)
}
