

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --secondary-text-color: #ffffff;
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --background-color-2: #f5f4fa;
  --contacts-text-color: rgba(255, 255, 255, 0.6);
  --header-logo-color: #000000;
   --title-portfolio: #F5F5F5}

  

.page{
  margin: 0;
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding-left: 0px;
  padding-right: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul 
li
a{
  margin: 0;
}
img{display: block;
}
section{padding-top: 94px;}

/* header */
.main-nav{
  display: flex;
  align-items: center;
  padding-left: 20px;
padding-right: 20px;
max-width: 1600px;
}
.navigation,
.navigation-contact
{
display:flex;

margin-bottom: 30px;
margin-top: 30px;
  align-items: center;}
  .navigation-contact{
margin-left: auto;

  }


.navigation-site,
.navigation-site-contac:not(last-child) {

margin-left: 50px;
}


.navigation-logo-link {
font-family: "Raleway";
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
color: var(--accent-color);
}
.navigation-logo-header {
  margin-right: 45px;
color: var(--header-logo-color);
font-family: "Raleway";
font-size: 26px;
letter-spacing: 0.03em;
}

.navigation-studio{

font-family: "Roboto";
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.navigation-portfolio{
 
font-family: 'Roboto';
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--title-text-color)
}
.navigation-portfolio:hover,
.navigation-portfolio:focus {
  color: var(--accent-color)}
.navigation-contacts{
    
font-family: 'Roboto';
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--title-text-color);
}
.navigation-contacts:hover,
.navigation-contacts:focus {
  color: var(--accent-color)}
.mailto{
 font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

}
.mailto:hover,
.mailto:focus {
  color: var(--accent-color)}
.tel{
     font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;}
  .tel:hover,
.tel:focus {
  color: var(--accent-color)}
/*HERO SECTION*/
.hero-container {
  background-color: var(--background-color);
 
  max-width: 1600px;
  text-align: center;
    padding: 200px 0;
}
.hero-title {
  color: var(--secondary-text-color);
  font-family: "Roboto", sans-serif;
  width: 700px;
  margin: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
 
}


.hero-button {
    border-radius: 4px;
    padding: 10px 30px;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin-top:30px;
 
border: transparent;
}
.hero-button:hover,
.hero-button:focus {
  color: var(--header-logo-color);
}
.section{
 
 max-width:1600px;
  
}
.section-details{
   justify-content: space-between;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}
.item:not(:first-child )
{margin-left: 30px;}
  

.section-item {

  margin-bottom: 5px;
  font-family: "Roboto", sans-serif;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section-text {
  max-width: 270px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  align-items:flex-start
 
}
 /* <!--OUR WORKS--> */
.section-work{
  padding-bottom: 94px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1600px;
}
 
.section-work-title{ 
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
 justify-content: space-between;
}
 .work-img{
 justify-content: space-between;
  display: flex;
   
   margin: 0px;
}
.work-img-li:not(:first-child ){
  margin-left: 30px;
 
}
  
/* <!--OUR TEAM--> */
.section-team {
  background-color: var(--background-color-2);
  padding-bottom: 94px;
  
  max-width:1600px;
}
.section-team-ul{
  display: flex;
  
   padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;

}
.section-team-img:not(:first-child ){
  margin-left: 30px;}
.section-team-img{
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
 
  background-color: var(--secondary-text-color);

}
.section-title{
  margin-bottom: 50px;
  color: var(--title-text-color);
font-family: 'Roboto';
font-weight: 700;
font-size: 36px;
line-height: 1.14;
text-align: center;

letter-spacing: 0.03em}

.team-members {
  margin-top: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
  
}

.team-post {
  margin-top: 10px;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
 
}
/* FOOTER */
.footer-container{
  max-width:1600px;
 padding-top: 60px;
 padding-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contacts-text-color);
  background-color: var(--background-color);
 
}
.footer-logo{

  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
color: var(--secondary-text-color);



}

.footer-web{

 color: var(--accent-color);
font-family: "Raleway";
letter-spacing: 0.03em;
}
.footer-adress{
margin-top: 20px;

}
.footer-ul{
 
}

.footer-li{
  margin-top: 10px;
  padding: 0px;
}

.contact-address{
font-family: 'Roboto';
font-style: normal;
line-height: 2;
letter-spacing: 0.03em;
color: var(--secondary-text-color);


}
.foter-mailto{
 margin-top: 10px;
line-height: 1.7;
letter-spacing: 0.03em;
color: var(--primary-text-color);


}
.foter-mailto:hover,
.foter-mailto:focus {
  color: var(--accent-color)}
.foter-tel{
line-height: 1.7;
letter-spacing: 0.03em;
color:var(--primary-text-color)

}
.foter-tel:hover,
.foter-tel:focus {
  color: var(--accent-color)}
.footer-container {
  background-color: var(--background-color);
}

.contact-address {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);

}
.contact-address:hover,
.contact-address:focus {
  color: var(--accent-color)}

.footer-contacts {

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contacts-text-color);
}


.footer-logo {
  font-family: "Raleway", sans-serif;
 
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.footer-web {
  color: var(--accent-color);
  
}

/* Portfolio */
/*HERO SECTION*/
.portfolio {

  background-color: var(--secondary-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  
  letter-spacing: 0.03em;
  cursor: pointer;
}
.portfolio-button{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-button-li:not(:first-child ){
  margin-left: 8px;}
  

.button-secondary {
  padding:6px 22px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
  color: var(--title-text-color);
  background-color: var(--title-portfolio);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: transparent;
}
.button-secondary:hover,
.button-secondary:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color)
}
.porfolio-conteiner{
  max-width: 1600px;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
}
.porfolio-conteiner-li{
  margin-bottom: 30px;
  outline: 1px solid #eeee;
  margin-right:30px;
  border:var(--primary-text-color);
}
.porfolio-conteiner-li:nth-child(3n) {
  margin-right:0px;
}
.portfolio-sample{
  margin-top: 20px;
margin-left: 24px;
  font-family: 'Roboto';

font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;

color:var(--title-text-color);
}

.portfolio-info{
  margin-top: 4px;
  margin-bottom: 20px;
  margin-left: 24px;
  font-family: 'Roboto';
font-size: 16px;
line-height: 1.9;


letter-spacing: 0.03em;

color:var(--primary-text-color)}

.navigation-studio-portfolio{
  font-family: 'Roboto';
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--title-text-color)
}

.navigation-studio-portfolio:hover,
.navigation-studio-portfolio:focus {
  color: var(--accent-color)}
.footer-container {
  background-color: var(--background-color);
}
.navigation-portfolio-port{
  font-family: 'Roboto';
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--accent-color)
}
