

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --secondary-text-color: #ffffff;
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --background-color-2: #f5f4fa;
  --contacts-text-color: rgba(255, 255, 255, 0.6);
  --header-logo-color: #000000;
   --title-portfolio: #F5F5F5}

.page{
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
/* header */

.navigation-logo-link {
width: 145px;
height: 31px;
left: 215px;
top: 24px;
font-family: "Raleway";
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
color: var(--accent-color);
}
.navigation-logo-header {
color: var(--header-logo-color);
font-family: "Raleway";
font-size: 26px;
letter-spacing: 0.03em;
}

.navigation-studio{
position: absolute;
width: 45px;
height: 16px;
left: 453px;
top: 32px;
font-family: "Roboto";
font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.navigation-portfolio{
 position: absolute;
width: 72px;
height: 16px;
left: 548px;
top: 32px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--title-text-color)
}
.navigation-contacts{
    position: absolute;
width: 64px;
height: 16px;
left: 670px;
top: 32px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--title-text-color);
}
.mailto{
 font-family: "Roboto", sans-serif;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

}
.tel{
     font-family: "Roboto", sans-serif;
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;}
/*HERO SECTION*/
.hero-container {
  background-color: var(--background-color);
  width: 1600px;
  height: 600px;
  text-align: center;
}
.hero-title {
  color: var(--secondary-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  color: var(--header-logo-color);
}
.section-item {
  font-family: "Roboto", sans-serif;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
 /* <!--OUR WORKS--> */
.section-work-title{
  color: var(--title-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
/* <!--OUR TEAM--> */
.section-team {
  background-color: var(--background-color-2);
}
.section-team-img{
  background-color: var(--secondary-text-color);

}
.section-title{
  color: var(--title-text-color);
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.14;
text-align: center;
letter-spacing: 0.03em}

.team-members {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
}

.team-post {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}
/* FOOTER */
.footer-container{
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contacts-text-color);
  background-color: var(--background-color);
}
.footer-logo{
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
color: var(--secondary-text-color);


}
.footer-web{
 color: var(--accent-color);
font-family: "Raleway";
letter-spacing: 0.03em;

}
.contact-address{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
line-height: 2;
letter-spacing: 0.03em;
color: var(--secondary-text-color);

}
.foter-mailto{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
line-height: 1.7;
letter-spacing: 0.03em;
color: var(--contacts-text-color);

}
.foter-tel{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
line-height: 1.7;
letter-spacing: 0.03em;
color: #D9D9D9;

}
.footer-container {
  background-color: var(--background-color);
}

.contact-address {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.footer-contacts {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contacts-text-color);
}

.footer-contacts .link:hover,
.footer-contacts .link:focus {
  color: var(--accent-color);
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.footer-web {
  color: var(--accent-color);
}

